.Header {
  position: relative;
  font-family: 'Agdasima', sans-serif;
  font-size: 22rem;
  height: 48rem;
  margin: 0;
}
  
.Text {
  user-select: none;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}

#Stroke {
  -webkit-text-stroke: 1px white;
  mask-image: linear-gradient(to top, transparent 17%, white);
  opacity: 0.8;
}
  
#Fill {
  background: linear-gradient(to top, black 15%, #ffffff);
  opacity: 0.075;
  background-clip: text;
  color: transparent;
}