@import url("https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&family=IBM+Plex+Sans+Hebrew:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&display=swap");

[data-scroll-container] {
  overflow: hidden; /*Required for Locomotive Scroll to work*/
}

.App {
  height: 100%;
  position: relative;
}
::selection {
  background-color: white !important;
  color: black !important;
}

.Hero {
  position: relative;
}

.Junction {
  display: block;
  margin: 0 auto;
  scale: 0.75;
}
