@import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&family=IBM+Plex+Sans+Hebrew:wght@100;200;300;400;500;600;700&display=swap');


[data-scroll-container] {
  overflow: hidden; /* Required for Locomotive Scroll to work */
}

body {
  background-color: black;
  margin: 0;
  overflow: hidden; /* Prevent default scrolling */
}

html {
  scroll-behavior: smooth;
}

.App {
  height: 100%;
}

.Master {
  z-index: 999;
  position: fixed;
  margin: 0;
  left: 50%;
  transform: translateX(-50%);
  bottom: 2vh;
  height: 4rem;
  width: 22rem;
  aspect-ratio: 4/22;
  background: linear-gradient(to left, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.4));
  backdrop-filter: blur(8px);
  border-top-right-radius: 17% 100%;
  border-bottom-right-radius: 17% 100%;
  border-top-left-radius: 17% 100%;
  border-bottom-left-radius: 17% 100%;
  box-shadow: 0 0 0 1px white;
}

.IconsContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  padding: 0 0.5rem;
}
.Icons {
  color: white;
  width: 30px;
  height: 30px;
  display: flex;
  padding: 0;
  margin: 0;
  box-sizing: 0 0 24 24;
  stroke-width: 2;
}
.Icons:hover {
  filter: drop-shadow(0px 0px 5px rgb(0, 140, 255));
  transition: filter 0.3s ease-in-out;
}

#Controller {
  transform: scale(1.2);
  stroke-width: 1.7;
}

.Line {
  position: absolute;
  left: 26%;
  top: 50%;
  bottom: 10%;
  transform: translateY(-50%);
  height: 55px;
  width: 2px;
  background-color: white;
}

.Hero {
  position: relative; 
}

.Header {
  position: relative;
  font-family: 'Agdasima', sans-serif;
  font-size: 22rem;
  height: 48rem;
  margin: 0;
}

#Stroke {
  user-select: none;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-text-stroke: 1px white;
  mask-image: linear-gradient(to top, transparent 17%, white);
  opacity: 0.8;
}

#Fill {
  user-select: none;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(to top, black 15%, #D9D9D9);
  opacity: 0.04;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.Second-header {
  top: 70%;
  font-size: 2rem;
  font-weight: 100;
  color: white;
  text-align: center;
  margin: 0;
  margin-bottom: 20%;
}

#text {
  color: white;
  max-width: 50%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
