@import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&family=IBM+Plex+Sans+Hebrew:wght@100;200;300;400;500;600;700&display=swap');

[data-scroll-container] {
  overflow: hidden; /* Required for Locomotive Scroll to work */
}

.App {
  height: 100%;
}

.Hero {
  position: relative; 
}

#text {
  color: white;
  max-width: 50%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}